<div class="container" role="main">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <form action="" method="GET" class="form-main">
        <select class="form-control" placeholder="Choose" style="width: min-content">
          <option>Select</option>
          <option>Price:Low to High</option>
          <option>Price:High to Low</option>
        </select>
      </form>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <form action="" method="GET" class="form-main">
        <div class="col-md-10 col-sm-10 col-xs-12 ms-auto">
          <label class="sr-only" for="search">Search</label>
          <span class="input-group">
            <input type="text" class="form-control input-search" name="q" id="search" placeholder="Search" />
            <span class="input-group-addon group-icon">
              <button class="btn btn-sm ms-auto" id="search-addon">
                <i class="fas fa-search"></i>
              </button>
            </span>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
