.AllFood {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2zlj7_mb34Op_aY4M7VV_0ALR81nlEBDtAQ&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: gray;
  height: min-content;
  overflow-y: hidden;
}

h1 {
  margin-bottom: auto;
}
