.container {
  height: 500px;
  width: 500px;
  background-color: lightcoral;
  margin: 50px;
}
.item {
  height: 50px;
  width: 50px;
  margin: 22px;
  background-color: darkcyan;
  border: solid black 1px;
  display: inline-block;

  animation: bounce 2s;
  animation-iteration-count: infinite;
}
.one {
  animation-timing-function: ease-in;
}
.two {
  animation-timing-function: ease-out;
}
.three {
  animation-timing-function: linear;
}
.four {
  animation-timing-function: step-start;
}
@keyframes bounce {
  50% {
    transform: translateY(400px);
  }
}
