.game {
  border: dotted black 2px;
  height: 500px;
  width: 500px;
  background-color: lightgray;
  margin: 50px;
}
.box {
  height: 50px;
  width: 50px;
  background-color: darkcyan;
  display: inline-block;
}
.player {
  transform: translateY(225px);
  background-color: darkred;
  animation: move 4s infinite;
  animation-play-state: paused;
}

.game:active .player {
  animation-play-state: running;
}

.enemy {
  margin-left: 100px;
  background-color: orangered;
  animation: bounce;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.enemy.one {
  animation-duration: 5s;
}
.enemy.two {
  animation-duration: 3s;
}

@keyframes bounce {
  50% {
    transform: translateY(450px);
  }
}

@keyframes move {
  50% {
    transform: translateY(225px) translateX(450px);
  }
}
